.content {
  background: url(../img/summary3/bg.png) no-repeat center / 100%;
}
.page_title span {
  color: #b5ff69;
}
.name_list .has_guide,
.name_list .name_tag,
.name_list .txt {
  position: absolute;
}
.name_list .has_guide {
  top: 54px;
  left: 255px;
  /* display: none; */
}
.name_list li {
  position: absolute;
  top: 212px;
  left: 158px;
}
.name_list .name_tag {
  width: 358px;
  height: 94px;
  background: url(../img/summary3/name_off.png) no-repeat center / 100%;
}

.name_list .txt {
  opacity: 0;
  top: 19px;
  left: 376px;
  pointer-events: none;
}

.name_list li.on .txt {
  opacity: 1;
  transition: all 1s;
}

.name_list .name1.on .name_tag {
  background-image: url(../img/summary3/name_on.png);
}

.name_tag.on {
  animation: bigAndSmall 1.5s forwards;
  animation-iteration-count: infinite;
}

.name_list li.on {
  pointer-events: none;
}
