.content {
  background: url(../img/summary4/summary4_bg.png) no-repeat center / 100%;
}

.name_list .has_guide,
.name_list .obj,
.name_list .name_tag,
.name_list .txt,
.bubble {
  position: absolute;
}
.name_list .has_guide {
  top: 342px;
  left: 509px;
}

.name_list .name_tag {
  width: 318px;
  height: 107px;
  background: url(../img/summary4/name1_off.png) no-repeat center / 100%;
  top: 302px;
  left: 294px;
}
.name_list .name2 .name_tag {
  background-image: url(../img/summary4/name2_off.png);
  top: 564px;
  left: 993px;
}
.name_list .name3 .name_tag {
  background-image: url(../img/summary4/name3_off.png);
  top: 564px;
  left: 1390px;
}
.name_list .txt1 {
  opacity: 0;
}
.name_list li.on .txt1 {
  opacity: 1;
  transition: all 1s;
}
.name_list .name1 .txt1 {
  top: 418px;
  left: 294px;
}
.name_list .name2 .txt1 {
  top: 680px;
  left: 992px;
}
.name_list .name3 .txt1 {
  top: 680px;
  left: 1388px;
}

.name_list .name1.on .name_tag {
  background-image: url(../img/summary4/name1_on.png);
}

.name_list .name2.on .name_tag {
  background-image: url(../img/summary4/name2_on.png);
}
.name_list .name3.on .name_tag {
  background-image: url(../img/summary4/name3_on.png);
}

.name_tag.on {
  animation: bigAndSmall 1.5s forwards;
  animation-iteration-count: infinite;
}

.name_list li.on {
  pointer-events: none;
}
