.content {
  background: url(../img/summary2/bg.png) no-repeat center / 100%;
  /* background: url(../img/summary2/11.png) no-repeat center / 100%; */
}
.page_title span {
  color: #ffb26e;
}
.name_list,
.name_list li,
.name_list .has_guide,
.name_list .name_tag,
.name_list .txt {
  position: absolute;
}
.name_list .has_guide {
  top: 48px;
  left: 160px;
  /* display: none; */
}
.name_list li {
  top: 182px;
  left: 160px;
}

.name_list .name_tag {
  width: 348px;
  height: 94px;
  background: url(../img/summary2/name1_off.png) no-repeat center / 100%;
}

.name_list .txt {
  opacity: 0;
  pointer-events: none;
  top: 120px;
  left: 10px;
}

.name_list li.on .txt {
  opacity: 1;
  transition: all 1s;
}
.name_list .name1.on .name_tag {
  background-image: url(../img/summary2/name1_on.png);
}

.name_tag.on {
  animation: bigAndSmall 1.5s forwards;
  animation-iteration-count: infinite;
}

.name_list li.on {
  pointer-events: none;
}
