.click_wrap.scale .obj {
  animation: bigAndSmall3 1.5s forwards;
  animation-iteration-count: infinite;
}

/* 활동 1 */
.screen1 {
  background: url(../img/concept1_h/screen1.png) no-repeat center / 100%;
}

.screen1 .page_title span {
  color: #96eaff;
}

.screen1 .click_obj {
  position: absolute;
  width: 321px;
  height: 141px;
  top: 539px;
  left: -3px;
  z-index: 1;
}

.screen1 .click_obj.c2 {
  top: 379px;
  left: 778px;
}

.screen1 .click_obj.c3 {
  top: 630px;
  left: 1387px;
}

.screen1 .click_obj .obj {
  top: 0;
  left: 0;
}

.screen1 .click_obj .tag {
  position: absolute;
  width: 384px;
  height: 140px;
  top: -287px;
  left: 218px;
  background: url(../img/concept1_h/obj_tag1.png) no-repeat center / 100%;
}

.screen1 .click_obj.c2 .tag {
  top: -125px;
  left: 31px;
  background: url(../img/concept1_h/obj_tag2.png) no-repeat center / 100%;
}

.screen1 .click_obj.c3 .tag {
  top: -380px;
  left: 13px;
  background: url(../img/concept1_h/obj_tag3.png) no-repeat center / 100%;
}

.screen1 .click_wrap.on .c2,
.screen1 .click_wrap.on .c3 {
  opacity: 0.55;
}

.screen1 .click_wrap.on .obj {
  animation: none;
}

.screen1 .shadow {
  position: absolute;
  top: 912px;
  left: 910px;
  width: 817px;
  height: 99px;
  background: url(../img/concept1_h/shadow1.png) no-repeat center / 100%;
}
.screen1 .click_wrap.on .shadow {
  background: url(../img/concept1_h/shadow2.png) no-repeat center / 100%;
}

/* 활동 2 */

.ui-draggable-dragging {
  z-index: 5 !important;
}

.screen2 {
  background: url(../img/concept1_h/screen2.png) no-repeat center / 100%;
}

.screen2 .page_title span {
  color: #ffc569;
}

.screen2 .box_wrap {
  position: absolute;
  top: 616px;
  left: 778px;
  width: 441px;
  height: 176px;
  background: url(../img/concept1_h/drop1.png) no-repeat center / 100%;
}

.screen2 .box_wrap.on {
  background: none;
}

.screen2 .box_wrap .arrow {
  position: absolute;

  width: 101px;
  height: 105px;
}

.screen2 .box_wrap .arrow1 {
  top: 172px;
  left: 360px;
  background: url(../img/concept1_h/arrow1_1.png) no-repeat center / 100%;
}

.screen2 .box_wrap .arrow2 {
  top: -100px;
  left: -13px;
  background: url(../img/concept1_h/arrow1_2.png) no-repeat center / 100%;
}

.screen2 .drag_area {
  width: 100%;
  height: 368px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
}

.screen2 .drag_box {
  position: absolute;
  width: 466px;
  height: 217px;
  top: 165px;
  left: 207px;
}

.screen2 .drag_box.d2 {
  left: 736px;
}

.screen2 .drag_box.d3 {
  left: 1275px;
}

.screen2 .quiz_area .box_wrap.on {
  background: url(../img/concept1_h/drag3.png) no-repeat center / 100%;
}

.screen2 .quiz_area .box_wrap.on .arrow1 {
  background: url(../img/concept1_h/arrow2_1.png) no-repeat center / 100%;
}

.screen2 .quiz_area .box_wrap.on .arrow2 {
  background: url(../img/concept1_h/arrow2_2.png) no-repeat center / 100%;
}

.quiz_area.finish .drag_area {
  display: none;
}

.drop_box {
  height: 100%;
}

.screen2 .quiz_area.scale .drag_box {
  animation: bigAndSmall 1.5s forwards;
  animation-iteration-count: infinite;
}

.screen2 .click_wrap.on .obj {
  animation: none;
}
