.content {
  background: url(../img/summary3/bg.png) no-repeat center / 100%;
}

.page_title span {
  color: #99a7fb;
}

.img_wrap {
  position: absolute;
  top: 200px;
  left: 180px;
}

.name_list .has_guide,
.name_list .name_tag,
.name_list .txt {
  position: absolute;
}
.name_list .has_guide {
  top: 47px;
  left: 210px;
  /* display: none; */
}
.name_list li {
  position: absolute;
  top: 736px;
  left: 172px;
}
.name_list .name_tag {
  width: 428px;
  height: 94px;
  background: url(../img/summary3/name1_off.png) no-repeat center / 100%;
}
.name_list .name2 .name_tag {
  width: 208px;
  height: 94px;
  top: 123px;
  left: 1088px;
  background: url(../img/summary3/name2_off.png) no-repeat center / 100%;
}
.name_list .name3 .name_tag {
  width: 368px;
  height: 94px;
  top: -266px;
  left: 966px;
  background: url(../img/summary3/name3_off.png) no-repeat center / 100%;
}
.name_list .txt {
  opacity: 0;
  top: 120px;
  left: 2px;
  pointer-events: none;
}
.name_list .name2 .txt {
  opacity: 0;
  top: 245px;
  left: 1084px;
  pointer-events: none;
}
.name_list .name3 .txt {
  opacity: 0;
  top: -147px;
  left: 676px;
  pointer-events: none;
}
.name_list li.on .txt {
  opacity: 1;
  transition: all 1s;
}

.name_list .name1.on .name_tag {
  background-image: url(../img/summary3/name1_on.png);
}
.name_list .name2.on .name_tag {
  background-image: url(../img/summary3/name2_on.png);
}
.name_list .name3.on .name_tag {
  background-image: url(../img/summary3/name3_on.png);
}

.name_tag.on {
  animation: bigAndSmall 1.5s forwards;
  animation-iteration-count: infinite;
}

.name_list li.on {
  pointer-events: none;
}
