.screen {
  background: url(../img/explore3/bg.png) no-repeat center/100%;
}
.header > span {
  color: #55ffd5;
}

.ani {
  position: absolute;
  top: 128px;
  left: 188px;
  display: flex;
  align-items: flex-start;
}
.ani .gif {
  width: 160px;
}
.ani .txt {
  margin: 76px 0 0 0;
}
