.screen {
  background: url(../img/explore3/bg.png);
}
.header > span {
  color: #55ffd5;
}

.ani {
  position: absolute;
  top: 126px;
  left: 257px;
  display: flex;
  align-items: flex-start;
}

.ani .txt {
  margin: 36px 0 0 -3px;
}

.ani > .gif {
  width: 170px;
}
