/* .content {
  background: url(../img/explore1/explore1_bg.png) no-repeat center / 100%;
} */
.bubble {
  top: 112px;
  left: 129px;
}
.ani {
  top: 333px;
  left: 202px;
}
.txt {
  top: 166px;
  left: 736px;
}
