.content {
  background: url(../img/summary2/summary2_bg.png) no-repeat center / 100%;
}
.page_title span {
  color: #ffe244;
}
.name_list .has_guide,
.name_list .obj,
.name_list .name_tag,
.name_list .txt,
.bubble {
  position: absolute;
}
.name_list .has_guide {
  top: 311px;
  left: 558px;
}

.name_list .name_tag {
  width: 388px;
  height: 107px;
  background: url(../img/summary2/name1_off.png) no-repeat center / 100%;
  top: 252px;
  left: 281px;
}
.name_list .name2 .name_tag {
  background-image: url(../img/summary2/name2_off.png);
  top: 496px;
  left: 918px;
}
.name_list .name3 .name_tag {
  background-image: url(../img/summary2/name3_off.png);
  top: 496px;
  left: 1423px;
}
.name_list .txt {
  opacity: 0;
}
.name_list li.on .txt {
  opacity: 1;
  transition: all 1s;
}
.name_list .name1 .txt {
  top: 371px;
  left: 280px;
}
.name_list .name2 .txt {
  top: 613px;
  left: 918px;
}
.name_list .name3 .txt {
  top: 613px;
  left: 1425px;
}

.name_list .name1.on .name_tag {
  background-image: url(../img/summary2/name1_on.png);
}

.name_list .name2.on .name_tag {
  background-image: url(../img/summary2/name2_on.png);
}
.name_list .name3.on .name_tag {
  background-image: url(../img/summary2/name3_on.png);
}

.name_tag.on {
  animation: bigAndSmall 1.5s forwards;
  animation-iteration-count: infinite;
}

.name_list li.on {
  pointer-events: none;
}
