.content {
  background: url(../img/summary2/summary2_bg.png) no-repeat center / 100%;
}

.page_title span {
  color: #97ffbe;
}

.name_list .has_guide,
.name_list .obj,
.name_list .name_tag,
.name_list .txt,
.bubble {
  position: absolute;
}
.name_list .has_guide {
  top: 47px;
  left: 151px;
}
.name_list li {
  position: absolute;
  top: 214px;
  left: 171px;
}

.name_list .name_tag {
  width: 248px;
  height: 94px;
  background: url(../img/summary2/name1_off.png) no-repeat center / 100%;
}

.name_list .txt {
  opacity: 0;
  top: 112px;
  left: 26px;
}
.name_list li.on .txt {
  opacity: 1;
  transition: all 1s;
}

.name_list .name1.on .name_tag {
  background-image: url(../img/summary2/name1_on.png);
}

.name_tag.on {
  animation: bigAndSmall 1.5s forwards;
  animation-iteration-count: infinite;
}

.name_list li.on {
  pointer-events: none;
}
